<main class="l-main">
 <%- include('../parts/_video.ejs') %>
 <%- include('../section/_project.ejs') %>
 <%- include('../section/_feature.ejs') %>
 <%- include('../section/_flow.ejs') %>
 <%- include('../section/_contact.ejs') %>
</main>